.Topbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
}
.image img{
    width:100%;
    height:auto;
    margin:0px;
    padding: 0px;
    border:none;
    display:block;
    
}
body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    overflow-x:hidden;
}
.heading{
    text-align:center;
    font-size:36px;
    margin-top:20px;
    color:#ae59ff;
}
.AboutUs{
    padding:40px 50px;
    max-width:1000px;
    margin:auto auto;
    font-size:18px;
    line-height:1.6;
    color:#333;
    align-items: center;
}
.gallery img{
    width:auto;
    height:auto;
    margin-bottom:20px;   
    align-items: center;
    max-width: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin:0;
}
.event-card {
    max-width: 340px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.event-card img {
    width: 100%;
    display: block;
}

.event-content {
    display: flex;
    gap: 16px;
    padding: 20px;
}

.event-date {
    text-align: center;
    border-right: 4px solid #ae59ff;
    height: 100%;
    padding-right: 12px;
    min-width: 70px;
}

.event-date span {
    font-size: 14px;
    letter-spacing: 1px;
    color: #000;
}

.event-date strong {
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.event-text h3 {
    margin: 0 0 8px;
    font-size: 20px;
}

.event-text p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.event-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.JoinUs{
    padding:40px 50px;
    max-width:1000px;
    margin:auto auto;
    font-size:18px;
    line-height:1.6;
    color:#333;
    align-items: center;
}
.discord-card {
    max-width: 250px;
    background: #d618e7;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin: auto;
}